# dev.tfvars.example - Not used since the code relies on EXPORT TF_VAR
env                   = ""
local_stack_endpoint  = ""
aws_access_key        = ""
aws_secret_access_key = ""
aws_region            = ""